@media(max-width: 900px) {
    .container {
        flex-wrap: wrap;
    }

    .right-side {
        flex: 100%,
    }

    .left-side {
        flex: 100%, ;
    }
}

@media(max-width: 450px) {
    nav {
        width: 100%;
    }

    nav a,
    nav a.float_right {
        float: none;
    }

    td,
    th {
        padding: 0;
    }

    .heading-img {
        width: 365px;
        height: 255px;
    }

    footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px 0;
        display: flex;
        flex: 100%;
        justify-content: center;
    }

    ul,
    ol {
        margin: 20px;
    }

    .container {
        display: flex;
        margin: 5px;
    }

}